body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(88, 151, 151);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
  font-family: cursive;
  color:rgb(233, 171, 14)
}

.Counter {
  text-align: center;
}


.Statistics {
  display: flex;
  justify-content: center;
}

.Statistics p {
  font-weight: 700;
  font-size: larger;
  font-style: italic;
  margin-right: 10px;
}

.Good {
  color: #3f51b5
}
.Neutral {
  color: rgb(211, 186, 186)
}
.Bad {
  color: red
}
.Total {
  color: cyan
}

.positiveFeedback {
  color: #fff
}

.goodBtn {
  margin-right: 30px;
}

.neutralBtn {
  margin-right: 30px;
}